body {
    background: #073763ff
  }

  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Times, serif;
    color: #ffffff;
    text-align: center;
    font-size: 100px;
  }
  
  p {
    border: 3px solid #02215f;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    font-size: 40px;
    padding: 5px;
  }
  
  button {
    background: #1c384d;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    border-radius: 50px;
    text-align: center;
    padding: 4px 40px 4px 40px;
  }