.question-one {
  display: none;
}

.question-two {
  display: none;
}

.question-three {
  display: none;
}

.question-four {
  display: none;
}

.question-five {
  display: none;
}

.result-one {
  display: none;
}

.result-two {
  display: none;
}

.result-three {
  display: none;
}

.result-four {
  display: none;
}


body {
    background: #073763ff
  }

  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Times, serif;
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    justify-content: center;
    align-self: center;
  
  }
  
  p {
    border: 3px solid #02215f;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    font-size: 40px;
    padding: 5px;
  }


  img {
    display: flex;
    justify-content: start;
    margin: 0 auto;
    width: 40%;
    height: auto;
  }
  
  button {
    background: #1c384d;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    border-radius: 50px;
    text-align: center;
    padding: 4px 40px 4px 40px;
  }